<div class="catalog-table__sort ">
    <div class="catalog-table__sort-wrap ">
        <div class="catalog-table__sort-item ">
            <span>Давление</span>
            <svg width="10 " height="5 " viewBox="0 0 10 5 " fill="none " xmlns="http://www.w3.org/2000/svg ">
                <path d="M5 5L9.33013 0.5H0.669873L5 5Z " fill="#666666 "/>
            </svg>
        </div>
        <div class="catalog-table__sort-item ">
            <span>Диаметр</span>
            <svg width="10 " height="5 " viewBox="0 0 10 5 " fill="none " xmlns="http://www.w3.org/2000/svg ">
                <path d="M5 5L9.33013 0.5H0.669873L5 5Z " fill="#666666 "/>
            </svg>
        </div>
        <div class="catalog-table__sort-item ">
            <span>Тип соединения</span>
            <svg width="10 " height="5 " viewBox="0 0 10 5 " fill="none " xmlns="http://www.w3.org/2000/svg ">
                <path d="M5 5L9.33013 0.5H0.669873L5 5Z " fill="#666666 "/>
            </svg>
        </div>
        <div class="catalog-table__sort-item ">
            <span>Кожух</span>
            <svg width="10 " height="5 " viewBox="0 0 10 5 " fill="none " xmlns="http://www.w3.org/2000/svg ">
                <path d="M5 5L9.33013 0.5H0.669873L5 5Z " fill="#666666 "/>
            </svg>
        </div>
    </div>
</div>
<div class="catalog-row ">
    @@include('../cards/_catalog-row.html')
</div>
<div class="catalog-row ">
    @@include('../cards/_catalog-row.html')
</div>
<div class="catalog-row ">
    @@include('../cards/_catalog-row.html')
</div>
<div class="catalog-row ">
    <div class="catalog-row__info ">
        <a href=" " class="catalog-row__title display4 ">HP-50</a>
        <div class="catalog-row__has catalog-row__has--warning ">
            <i></i>
            <span>под заказ </span>
        </div>
    </div>
    <div class="catalog-row__props ">
        <div class="catalog-row__props-item ">16 бар</div>
        <div class="catalog-row__props-item ">15 мм</div>
        <div class="catalog-row__props-item ">Под приварку</div>
        <div class="catalog-row__props-item ">С кожухом</div>
    </div>
    <div class="catalog-row__action ">
        <div class="catalog-row__price display4 ">2 720 руб.</div>
        <button class="catalog-row__btn mbtn btn-blue ">Заказать</button>
    </div>
</div>
<div class="catalog-row ">
    @@include('../cards/_catalog-row.html')
</div>
<div class="catalog-row ">
    @@include('../cards/_catalog-row.html')
</div>
<div class="catalog-row ">
    @@include('../cards/_catalog-row.html')
</div>
<div class="catalog-row ">
    @@include('../cards/_catalog-row.html')
</div>
<div class="catalog-row ">
    @@include('../cards/_catalog-row.html')
</div>
<div class="catalog-row ">
    @@include('../cards/_catalog-row.html')
</div>