<div class="catalog-row__info">
    <a href="" class="catalog-row__title display4">HP-50</a>
    <div class="catalog-row__has">
        <i></i>
        <span>в наличии</span>
    </div>
</div>
<div class="catalog-row__props">
    <div class="catalog-row__props-item catalog-row__props-item--pressure">16 бар</div>
    <div class="catalog-row__props-item catalog-row__props-item--diameter">15 мм</div>
    <div class="catalog-row__props-item">Под приварку</div>
    <div class="catalog-row__props-item">С кожухом</div>
</div>
<div class="catalog-row__action">
    <div class="catalog-row__price display4">2 720 руб.</div>
    <button class="catalog-row__btn mbtn btn-blue">Заказать</button>
</div>
