<div class="catalog-card2__content">
    <div class="catalog-card2__title display3">Под приварку HP-50</div>
    <div class="catalog-card2__desc">Текст который вкратце расскажет об этом типе компенсатора + разница с HPR-50.</div>
    <a href="" class="catalog-card2__link text-link">
        <span>В каталог</span>
        <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.33337 1.66671L8.00004 6.00004L3.33337 10.3334" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round"/>
        </svg>
    </a>
</div>
<div class="catalog-card2__img">
    <img src="img/@@img.webp" alt="">
</div>