<div class="product-card__left">
    <a href="" class="product-card__img">
        <img src="img/@@img.webp" alt="">
    </a>
</div>
<div class="product-card__center">
    <a href="" class="product-card__subtitle">Сильфонный для систем отопления</a>
    <a href="" class="product-card__title display4">HP-50</a>
    <div class="product-card__items">
        <div class="product-card__item">Давление 16 бар</div>
        <div class="product-card__item">Под приварку</div>
        <div class="product-card__item">Рабочая среда - вода</div>
        <div class="product-card__item">С кожухом</div>
    </div>
    <div class="product-card__sizes">
        <div class="product-card__sizes-title">Диаметр, мм:</div>
        <div class="product-card__sizes-wrap">
            <div class="product-card__size">
                <input checked type='radio' />
                <label>15</label>
            </div>
            <div class="product-card__size">
                <input type='radio' />
                <label>20</label>
            </div>
            <div class="product-card__size">
                <input type='radio' />
                <label>25</label>
            </div>
            <div class="product-card__size">
                <input type='radio' />
                <label>32</label>
            </div>
            <div class="product-card__size">
                <input type='radio' />
                <label>40</label>
            </div>
            <div class="product-card__size">
                <input type='radio' />
                <label>50</label>
            </div>
            <div class="product-card__size">
                <input type='radio' />
                <label>200</label>
            </div>
        </div>
    </div>
</div>
<div class="product-card__right">
    <div class="product-card__price display4">3 150 руб.</div>
    <div class="product-card__has">
        <i></i>
        <span>в наличии</span>
    </div>
    <button class="product-card__btn mbtn btn-blue">Заказать</button>
</div>