<div class='container'>
    <div class='consult__inner'>
        <div class="consult__info">
            <div class="consult__title display2">@@title</div>
            <div class="consult__desc">После отправки опросного листа, инженер подберёт компенсатор из готовых решений или предложим индивидуальное проектирование в зависимости от задачи.</div>
            <div class="consult__nav">
                <button class="consult__btn mbtn btn-blue">Заполнить опросный лист</button>
                <div class="consult__contacts">
                    <div class="consult__contacts-wrap">
                        <a href="tel:+73433126740" class="consult__phone">+7 343 312-67-40</a>
                        <div class="consult__socials">
                            <a href="" class="consult__socials-item">
                                <img src="img/whatsapp2.svg" alt="">
                            </a>
                            <a href="" class="consult__socials-item">
                                <img src="img/telegram2.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="consult__hint">или свяжитесь с нами самостоятельно</div>
                </div>
            </div>
            <div class="consult__bottom">
                <div class="consult__name">Ринат</div>
                <div class="consult__prof">Инженер компании Евроснаб</div>
            </div>
        </div>
        <div class="consult__img">
            <img src="img/man.webp" alt="">
        </div>
    </div>
</div>