<header class='header'>
    <section class='header-top'>
        <div class='container'>
            <div class='header-top__inner'>
                <button class="header__burger mbtn btn-blue"></button>
                <a href="index.html" class="header__logo">
                    <div class="header__logo-img">
                        <img src="img/LOGO.png" alt="">
                    </div>
                    <div class="header__logo-text">Производим сильфонные компенсаторы с 1970 года</div>
                </a>

                <div class="header__contacts">
                    <a href="mailto:info@ayvaz-russia.ru" class="header__contacts-item">info@ayvaz-russia.ru</a>
                    <a href="tel:83433126740" class="header__contacts-item">8 343 312-67-40</a>
                </div>

                <div class="header__socials">
                    <a href="" class="header__socials-item">
                        <img src="img/telegram.svg" alt="">
                    </a>
                    <a href="" class="header__socials-item">
                        <img src="img/whatsapp.svg" alt="">
                    </a>
                </div>

                <div class="header__consult">
                    <button class="header__consult-btn">
                        <span class="header__consult-icon">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.21922 1H3C1.89543 1 1 1.89543 1 3V5C1 10.5228 5.47715 15 11 15H13C14.1046 15 15 14.1046 15 13V11.618C15 11.2393 14.786 10.893 14.4472 10.7236L12.0313 9.51564C11.487 9.24349 10.8278 9.51652 10.6354 10.0938L10.3376 10.9871C10.1447 11.5658 9.55118 11.9102 8.95309 11.7906C6.55929 11.3119 4.68814 9.44071 4.20938 7.04691C4.08976 6.44882 4.43422 5.85526 5.01286 5.66238L6.12149 5.29284C6.61721 5.1276 6.90214 4.60855 6.7754 4.10162L6.18937 1.75746C6.07807 1.3123 5.67809 1 5.21922 1Z" stroke="white" stroke-width="1.5"/>
                            </svg>
                        </span>
                        <span class="header__consult-text">Получить консультацию</span>
                    </button>
                    <div class="header__consult-time">по будням c 9:00 до 18:00</div>
                </div>

                <button class="header__cart header__btn mbtn">
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 19.25C7.48325 19.25 7.875 18.8582 7.875 18.375C7.875 17.8918 7.48325 17.5 7 17.5C6.51675 17.5 6.125 17.8918 6.125 18.375C6.125 18.8582 6.51675 19.25 7 19.25Z" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M16.625 19.25C17.1082 19.25 17.5 18.8582 17.5 18.375C17.5 17.8918 17.1082 17.5 16.625 17.5C16.1418 17.5 15.75 17.8918 15.75 18.375C15.75 18.8582 16.1418 19.25 16.625 19.25Z" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M1.79297 1.7937H3.54297L5.87047 12.6612C5.95585 13.0592 6.17731 13.415 6.49672 13.6673C6.81613 13.9197 7.21351 14.0528 7.62047 14.0437H16.178C16.5762 14.0431 16.9624 13.9066 17.2726 13.6568C17.5828 13.407 17.7986 13.0589 17.8842 12.67L19.328 6.1687H4.47922" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
        </div>
    </section>

    <section class='header-bottom'>
        <div class='container'>
            <div class='header-bottom__inner'>
                <button class="header__catalog-btn mbtn btn-blue">
                    <i></i>
                    <span>Каталог</span>
                 </button>

                <nav class="nav">
                    <a href="" class="nav__link">Товары в наличии</a>
                    <a href="" class="nav__link">О компании</a>
                    <a href="" class="nav__link">Выполненные проекты</a>
                    <a href="" class="nav__link">Доставка и оплата</a>
                    <a href="" class="nav__link">Контакты</a>
                </nav>

                <div class="header__search">
                    <input type="text" placeholder="Введите название товара">
                    <button class="header__search-btn header__btn mbtn">
                        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 17C13.866 17 17 13.866 17 10C17 6.13401 13.866 3 10 3C6.13401 3 3 6.13401 3 10C3 13.866 6.13401 17 10 17Z" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M19 19L15 15" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                    <button class="header__search-reset mbtn">
                        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.5 3.5L3.5 17.5" stroke="#666666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3.5 3.5L17.5 17.5" stroke="#666666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>

                <div class="header__mob">
                    <a href="tel:83433126740" class="header__mob-phone">8 343 312-67-40</a>
                    <a href="mailto:info@ayvaz-russia.ru" class="header__mob-mail">info@ayvaz-russia.ru</a>
                    <div class="header__mob-socials">
                        <a href="" class="header__mob-socials-item">
                            <img src="img/telegram.svg" alt="">
                        </a>
                        <a href="" class="header__mob-socials-item">
                            <img src="img/whatsapp.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>

<section class='header-catalog'>
    <div class='container'>
        <button class="header-catalog__back">
            <img src="img/arrow-prev.svg" alt="">
            <span>Назад к основному меню</span>
        </button>
        <div class='header-catalog__inner'>
            <div class="header-catalog__group">
                <div class="header-catalog__title">
                    <a href="" class="header-catalog__title-link">Сильфонные компенсаторы для систем отопления</a>
                    <button class="header-catalog__toggler">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.0664 3.7334L6.99974 10.2667L0.933073 3.7334" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </button>
                </div>
                <div class="header-catalog__links">
                    <a href="" class="header-catalog__link">Под приварку HP-50</a>
                    <a href="" class="header-catalog__link">Муфтовый HPR-50</a>
                </div>
            </div>
            <div class="header-catalog__group">
                <div class="header-catalog__title">
                    <a href="" class="header-catalog__title-link">Компенсаторы сильфонные осевые</a>
                    <button class="header-catalog__toggler">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.0664 3.7334L6.99974 10.2667L0.933073 3.7334" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </button>
                </div>
                <div class="header-catalog__links">
                    <a href="" class="header-catalog__link">Фланцевый КСО</a>
                    <a href="" class="header-catalog__link">Под приварку КСО</a>
                </div>
            </div>
            <div class="header-catalog__group">
                <div class="header-catalog__title">
                    <a href="" class="header-catalog__title-link">Компенсаторы сдвиговые</a>
                    <button class="header-catalog__toggler">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.0664 3.7334L6.99974 10.2667L0.933073 3.7334" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </button>
                </div>
                <div class="header-catalog__links">
                    <a href="" class="header-catalog__link">Фланцевый</a>
                    <a href="" class="header-catalog__link">Под приварку тип YA</a>
                </div>
            </div>
            <div class="header-catalog__group">
                <div class="header-catalog__title">
                    <a href="" class="header-catalog__title-link">Компенсаторы СКУ ППУ (ПЭ\ОЦ)</a>
                    <button class="header-catalog__toggler">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.0664 3.7334L6.99974 10.2667L0.933073 3.7334" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </button>
                </div>
                <div class="header-catalog__links">
                    <a href="" class="header-catalog__link">СКУ в ППМ изоляции</a>
                    <a href="" class="header-catalog__link">2СКУ.М.1</a>
                    <a href="" class="header-catalog__link">СКУ.М.1</a>
                    <a href="" class="header-catalog__link">2СКУ.ППУ</a>
                    <a href="" class="header-catalog__link">СКУ.ППУ</a>
                </div>
            </div>
            <div class="header-catalog__group">
                <div class="header-catalog__title">
                    <a href="" class="header-catalog__title-link">Антивибрационные компенсаторы (резиновые)</a>
                    <button class="header-catalog__toggler">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.0664 3.7334L6.99974 10.2667L0.933073 3.7334" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </button>
                </div>
                <div class="header-catalog__links">
                    <a href="" class="header-catalog__link">Свободные фланцы и тяги MKTY-30</a>
                    <a href="" class="header-catalog__link">Фланцевые компенсаторы LKA-10</a>
                    <a href="" class="header-catalog__link">Муфтовые компенсаторы DKK-10</a>
                </div>
            </div>
            <div class="header-catalog__group">
                <div class="header-catalog__title">
                    <a href="" class="header-catalog__title-link">Компенсаторы универсальные</a>
                    <button class="header-catalog__toggler">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.0664 3.7334L6.99974 10.2667L0.933073 3.7334" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </button>
                </div>
                <div class="header-catalog__links">
                    <a href="" class="header-catalog__link">Фланцевый тип UN</a>
                    <a href="" class="header-catalog__link">Под приварку тип UN</a>
                </div>
            </div>
            <div class="header-catalog__group">
                <div class="header-catalog__title">
                    <a href="" class="header-catalog__title-link">Судовые компенсаторы </a>
                    <button class="header-catalog__toggler">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.0664 3.7334L6.99974 10.2667L0.933073 3.7334" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </button>
                </div>
                <div class="header-catalog__links">
                    <a href="" class="header-catalog__link">Осевые ЕК</a>
                    <a href="" class="header-catalog__link">Универсальные фланцевые</a>
                </div>
            </div>
            <div class="header-catalog__group">
                <div class="header-catalog__title">
                    <a href="" class="header-catalog__title-link">Компенсаторы угловые</a>
                    <button class="header-catalog__toggler">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.0664 3.7334L6.99974 10.2667L0.933073 3.7334" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </button>
                </div>
                <div class="header-catalog__links">
                    <a href="" class="header-catalog__link">Шарнирный тип AC-HT</a>
                    <a href="" class="header-catalog__link">Шарнирный тип AC-HT2</a>
                    <a href="" class="header-catalog__link">Карданный тип AC-GT </a>
                    <a href="" class="header-catalog__link">Карданный тип AC-GT2 </a>
                </div>
            </div>
            <div class="header-catalog__group">
                <div class="header-catalog__title">
                    <a href="" class="header-catalog__title-link">Компенсаторы разгруженные </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="header-catalog__bg"></div>

<section class='header-search'>
    <div class='container'>

        <div class='header-search__inner'>
            <!-- для пустого запроса показываем этот блок, а нижний скрываем -->
            <div style="display: none;" class="header-search__empty header-search__wrap">По запросу «рукава металл» ничего не найдено. Попробуйте изменить запрос или свяжитесь с нами.</div>


            <div class="header-search__noempty">
                <div class="header-search__best header-search__wrap">
                    <div class="header-search__title">Часто ищут</div>
                    <div class="header-search__best-items">
                        <a href="" class="header-search__link">Муфтовый компенсатор для систем отопления ДУ 25</a>
                        <a href="" class="header-search__link">Компенсаторы для систем отопления</a>
                        <a href="" class="header-search__link">Под приварку КСО</a>
                        <a href="" class="header-search__link">Для отопления под приварку</a>
                    </div>
                </div>
                <div class="header-search__results header-search__wrap">
                    <div class="header-search__category">
                        <div class="header-search__title">Категории</div>
                        <div class="header-search__links">
                            <a href="" class="header-search__link">Сильфонные компенсаторы для систем отопления</a>
                        </div>
                    </div>
                    <div class="header-search__products">
                        <div class="header-search__title">Товары</div>
                        <div class="header-search__items">
                            <div class="search-card">
                                @@include('../cards/_search-card.html',{"img":"product"})
                            </div>
                            <div class="search-card">
                                @@include('../cards/_search-card.html',{"img":"product2"})
                            </div>
                            <div class="search-card">
                                @@include('../cards/_search-card.html',{"img":"product3"})
                            </div>
                            <div class="search-card">
                                @@include('../cards/_search-card.html',{"img":"product4"})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>