<header class='header'>
    <section class='header-top'>
        <div class='container'>
            <div class='header-top__inner'>
                <button class="header__burger mbtn btn-blue"></button>
                <a href="index.html" class="header__logo">
                    <div class="header__logo-img">
                        <img src="img/logo.svg" alt="">
                    </div>
                    <div class="header__logo-text">Производим сильфонные компенсаторы с 1970 года</div>
                </a>

                <div class="header__contacts">
                    <a href="mailto:info@ayvaz-russia.ru" class="header__contacts-item">info@ayvaz-russia.ru</a>
                    <a href="tel:83433126740" class="header__contacts-item">8 343 312-67-40</a>
                </div>

                <div class="header__socials">
                    <a href="" class="header__socials-item">
                        <img src="img/telegram.svg" alt="">
                    </a>
                    <a href="" class="header__socials-item">
                        <img src="img/whatsapp.svg" alt="">
                    </a>
                </div>

                <div class="header__consult">
                    <button class="header__consult-btn">
                        <span class="header__consult-icon">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.82197 1H3.28571C2.02335 1 1 2.02335 1 3.28571V5.57143C1 11.8833 6.11675 17 12.4286 17H14.7143C15.9767 17 17 15.9767 17 14.7143V13.1349C17 12.702 16.7554 12.3063 16.3682 12.1127L13.6072 10.7322C12.9851 10.4211 12.2318 10.7332 12.0119 11.393L11.6716 12.4139C11.4511 13.0752 10.7728 13.4688 10.0892 13.3321C7.35347 12.785 5.21502 10.6465 4.66787 7.91076C4.53116 7.22723 4.92483 6.54887 5.58612 6.32843L6.85313 5.9061C7.41967 5.71725 7.7453 5.12406 7.60046 4.54471L6.9307 1.86567C6.80351 1.35691 6.34639 1 5.82197 1Z" stroke="#015AAA"/>
                            </svg>
                        </span>
                        <span class="header__consult-text">Получить консультацию</span>
                    </button>
                    <div class="header__consult-time">по будням c 9:00 до 18:00</div>
                </div>

                <button class="header__cart header__btn mbtn">
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 19.25C7.48325 19.25 7.875 18.8582 7.875 18.375C7.875 17.8918 7.48325 17.5 7 17.5C6.51675 17.5 6.125 17.8918 6.125 18.375C6.125 18.8582 6.51675 19.25 7 19.25Z" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M16.625 19.25C17.1082 19.25 17.5 18.8582 17.5 18.375C17.5 17.8918 17.1082 17.5 16.625 17.5C16.1418 17.5 15.75 17.8918 15.75 18.375C15.75 18.8582 16.1418 19.25 16.625 19.25Z" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M1.79297 1.7937H3.54297L5.87047 12.6612C5.95585 13.0592 6.17731 13.415 6.49672 13.6673C6.81613 13.9197 7.21351 14.0528 7.62047 14.0437H16.178C16.5762 14.0431 16.9624 13.9066 17.2726 13.6568C17.5828 13.407 17.7986 13.0589 17.8842 12.67L19.328 6.1687H4.47922" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span class="header__cart-num">13</span>
                </button>
            </div>
        </div>
    </section>

    <section class='header-bottom'>
        <div class='container'>
            <div class='header-bottom__inner'>
                <button class="header__catalog-btn mbtn btn-blue">
                    <i></i>
                    <span>Каталог</span>
                 </button>

                <nav class="nav">
                    <a href="" class="nav__link">Товары в наличии</a>
                    <a href="" class="nav__link">О компании</a>
                    <a href="" class="nav__link">Выполненные проекты</a>
                    <a href="" class="nav__link">Доставка и оплата</a>
                    <a href="" class="nav__link">Контакты</a>
                </nav>

                <div class="header__search">
                    <input type="text" placeholder="Введите название товара">
                    <div class="header__search-loading spinner-border" role="status">
                        <span class="sr-only"></span>
                    </div>
                    <button class="header__search-btn header__btn mbtn">
                        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 17C13.866 17 17 13.866 17 10C17 6.13401 13.866 3 10 3C6.13401 3 3 6.13401 3 10C3 13.866 6.13401 17 10 17Z" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M19 19L15 15" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                    <button class="header__search-reset mbtn">
                        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.5 3.5L3.5 17.5" stroke="#666666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3.5 3.5L17.5 17.5" stroke="#666666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>

                <div class="header__mob">
                    <a href="tel:83433126740" class="header__mob-phone">8 343 312-67-40</a>
                    <a href="mailto:info@ayvaz-russia.ru" class="header__mob-mail">info@ayvaz-russia.ru</a>
                    <div class="header__mob-socials">
                        <a href="" class="header__mob-socials-item">
                            <img src="img/telegram.svg" alt="">
                        </a>
                        <a href="" class="header__mob-socials-item">
                            <img src="img/whatsapp.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>

<section class='header-catalog'>
    <div class='container'>
        <button class="header-catalog__back">
            <img src="img/arrow-prev.svg" alt="">
            <span>Назад к основному меню</span>
        </button>
        <div class='header-catalog__inner'>
            <div class="header-catalog__group">
                <div class="header-catalog__title">
                    <a href="" class="header-catalog__title-link">Сильфонные компенсаторы для систем отопления</a>
                    <button class="header-catalog__toggler">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.0664 3.7334L6.99974 10.2667L0.933073 3.7334" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </button>
                </div>
                <div class="header-catalog__links">
                    <a href="" class="header-catalog__link">Под приварку HP-50</a>
                    <a href="" class="header-catalog__link">Муфтовый HPR-50</a>
                </div>
            </div>
            <div class="header-catalog__group">
                <div class="header-catalog__title">
                    <a href="" class="header-catalog__title-link">Компенсаторы сильфонные осевые</a>
                    <button class="header-catalog__toggler">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.0664 3.7334L6.99974 10.2667L0.933073 3.7334" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </button>
                </div>
                <div class="header-catalog__links">
                    <a href="" class="header-catalog__link">Фланцевый КСО</a>
                    <a href="" class="header-catalog__link">Под приварку КСО</a>
                </div>
            </div>
            <div class="header-catalog__group">
                <div class="header-catalog__title">
                    <a href="" class="header-catalog__title-link">Компенсаторы сдвиговые</a>
                    <button class="header-catalog__toggler">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.0664 3.7334L6.99974 10.2667L0.933073 3.7334" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </button>
                </div>
                <div class="header-catalog__links">
                    <a href="" class="header-catalog__link">Фланцевый</a>
                    <a href="" class="header-catalog__link">Под приварку тип YA</a>
                </div>
            </div>
            <div class="header-catalog__group">
                <div class="header-catalog__title">
                    <a href="" class="header-catalog__title-link">Компенсаторы СКУ ППУ (ПЭ\ОЦ)</a>
                    <button class="header-catalog__toggler">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.0664 3.7334L6.99974 10.2667L0.933073 3.7334" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </button>
                </div>
                <div class="header-catalog__links">
                    <a href="" class="header-catalog__link">СКУ в ППМ изоляции</a>
                    <a href="" class="header-catalog__link">2СКУ.М.1</a>
                    <a href="" class="header-catalog__link">СКУ.М.1</a>
                    <a href="" class="header-catalog__link">2СКУ.ППУ</a>
                    <a href="" class="header-catalog__link">СКУ.ППУ</a>
                </div>
            </div>
            <div class="header-catalog__group">
                <div class="header-catalog__title">
                    <a href="" class="header-catalog__title-link">Антивибрационные компенсаторы (резиновые)</a>
                    <button class="header-catalog__toggler">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.0664 3.7334L6.99974 10.2667L0.933073 3.7334" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </button>
                </div>
                <div class="header-catalog__links">
                    <a href="" class="header-catalog__link">Свободные фланцы и тяги MKTY-30</a>
                    <a href="" class="header-catalog__link">Фланцевые компенсаторы LKA-10</a>
                    <a href="" class="header-catalog__link">Муфтовые компенсаторы DKK-10</a>
                </div>
            </div>
            <div class="header-catalog__group">
                <div class="header-catalog__title">
                    <a href="" class="header-catalog__title-link">Компенсаторы универсальные</a>
                    <button class="header-catalog__toggler">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.0664 3.7334L6.99974 10.2667L0.933073 3.7334" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </button>
                </div>
                <div class="header-catalog__links">
                    <a href="" class="header-catalog__link">Фланцевый тип UN</a>
                    <a href="" class="header-catalog__link">Под приварку тип UN</a>
                </div>
            </div>
            <div class="header-catalog__group">
                <div class="header-catalog__title">
                    <a href="" class="header-catalog__title-link">Судовые компенсаторы </a>
                    <button class="header-catalog__toggler">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.0664 3.7334L6.99974 10.2667L0.933073 3.7334" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </button>
                </div>
                <div class="header-catalog__links">
                    <a href="" class="header-catalog__link">Осевые ЕК</a>
                    <a href="" class="header-catalog__link">Универсальные фланцевые</a>
                </div>
            </div>
            <div class="header-catalog__group">
                <div class="header-catalog__title">
                    <a href="" class="header-catalog__title-link">Компенсаторы угловые</a>
                    <button class="header-catalog__toggler">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.0664 3.7334L6.99974 10.2667L0.933073 3.7334" stroke="#015AAA" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </button>
                </div>
                <div class="header-catalog__links">
                    <a href="" class="header-catalog__link">Шарнирный тип AC-HT</a>
                    <a href="" class="header-catalog__link">Шарнирный тип AC-HT2</a>
                    <a href="" class="header-catalog__link">Карданный тип AC-GT </a>
                    <a href="" class="header-catalog__link">Карданный тип AC-GT2 </a>
                </div>
            </div>
            <div class="header-catalog__group">
                <div class="header-catalog__title">
                    <a href="" class="header-catalog__title-link">Компенсаторы разгруженные </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="header-catalog__bg"></div>

<section class='header-search'>
    <div class='container'>

        <div class='header-search__inner'>
            <!-- для пустого запроса показываем этот блок, а нижний скрываем -->
            <div style="display: none;" class="header-search__empty header-search__wrap">По запросу «рукава металл» ничего не найдено. Попробуйте изменить запрос или свяжитесь с нами.</div>


            <div class="header-search__noempty">
                <div class="header-search__best header-search__wrap">
                    <div class="header-search__title">Часто ищут</div>
                    <div class="header-search__best-items">
                        <a href="" class="header-search__link">Муфтовый компенсатор для систем отопления ДУ 25</a>
                        <a href="" class="header-search__link">Компенсаторы для систем отопления</a>
                        <a href="" class="header-search__link">Под приварку КСО</a>
                        <a href="" class="header-search__link">Для отопления под приварку</a>
                    </div>
                </div>
                <div class="header-search__results header-search__wrap">
                    <div class="header-search__category">
                        <div class="header-search__title">Категории</div>
                        <div class="header-search__links">
                            <a href="" class="header-search__link">Сильфонные компенсаторы для систем отопления</a>
                        </div>
                    </div>
                    <div class="header-search__products">
                        <div class="header-search__title">Товары</div>
                        <div class="header-search__items">
                            <div class="search-card">
                                @@include('../cards/_search-card.html',{"img":"product"})
                            </div>
                            <div class="search-card">
                                @@include('../cards/_search-card.html',{"img":"product2"})
                            </div>
                            <div class="search-card">
                                @@include('../cards/_search-card.html',{"img":"product3"})
                            </div>
                            <div class="search-card">
                                @@include('../cards/_search-card.html',{"img":"product4"})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>