<div class='container'>
    <div class="stage__inner">
        <div class="stage__title display2">Этапы работы</div>
        <div class="stage__items">
            <div class="stage__item">
                <div class="stage__item-num">1</div>
                <div class="stage__item-time">20–60 минут</div>
                <div class="stage__item-title">Отправка заявки</div>
                <div class="stage__item-desc">Свяжитесь с нами по номеру <a href="tel:+73433126740">+7 343 312-67-40</a> или отправьте свои контакты и мы перезвоним в рабочее время.</div>
                <button class="stage__btn mbtn btn-blue">Отправить заявку</button>
            </div>
            <div class="stage__item">
                <div class="stage__item-num">2</div>
                <div class="stage__item-time">1–7 дней</div>
                <div class="stage__item-title">Подбор компенсаторов</div>
                <div class="stage__item-desc">Уточняем требования. Подбираем компенсатор из готовых или отправляем инженерам для разработки чертежа.</div>
            </div>
            <div class="stage__item">
                <div class="stage__item-num">3</div>
                <div class="stage__item-time">1 день</div>
                <div class="stage__item-title">Оплата товаров</div>
                <div class="stage__item-desc">Отправляем вам счёт с учётом доставки. Получаем от вас <span tooltip="Товар в наличии  —  100% предоплата. 
                    Под заказ  —  30-50% предоплата. Оставшиеся проценты до/после отгрузки или по факту поставки. ">предоплату</span> и запускаем задачу в работу.</div>
            </div>
            <div class="stage__item">
                <div class="stage__item-num">4</div>
                <div class="stage__item-time">1–60 дней</div>
                <div class="stage__item-title">Изготовление и доставка</div>
                <div class="stage__item-desc">Если товар в наличии, то отправляем на следующий день после оплаты. Если компенсатор под заказ, то среднее время изготовления 1,5 месяца.</div>
            </div>
        </div>
    </div>
</div>