@import 'vars';
html {
    width: 100%;
}

body {
    font-family: $font1;
    font-weight: 400;
    color: $black;
    font-size: 18px;
    &.fixed-body {
        overflow-y: hidden;
    }
    @media screen and (max-width: 800px) {
        font-size: 15px;
    }
}